parent-project/coder-jaxb/src/main/resources/user/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xs:string" />
				<xs:element name="lastName" type="xs:string" />
				<xs:element name="birthDate" type="xs:date" />
				<xs:element name="section">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" />
		</xs:complexType>
	</xs:element>
</xs:schema>